main {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
  }

title {
    text-align: center;
    font-weight: 200;
}

#img-div {
    background: 
rgba(0, 0, 0, 0.219);
    height: 200 vh;
    width: 200 vw;
    text-align: center;
}
#image-caption {
    background: 
grey;
    width: 50 vw;
    text-align: center;
    border: 2 px solid 
white;
}

#tribute-info {
    width: 50 vw;
    text-align: center;
}

img {

    width: 50%;
    height: 50%;
}